<div class="col-xs-12 col-sm-6 col-md-4 form-group">
	<form role="form" class="form-inline">
		
		<button type="button" class="btn btn-info presetItem" 
				ng-repeat="preset in getPresets() track by $index" 
				ng-class-odd="'presetOdd'" 
				ng-class-even="'presetEven'"
				ng-click="handlePreset()"
				ng-hide="editMode"
				title="{{preset}}">
			{{preset|truncate:15}}
		</button>

		<input 	class="form-control presetItem"
				ng-repeat="preset in getPresets() track by $index"
				ng-class-odd="'presetOdd'" 
				ng-class-even="'presetEven'"
				ng-show="editMode"
				ng-model="preset"
				onClick="this.select();"
				ng-blur="savePreset(preset, $index)">

	</form>

	<div class="checkbox">
		<label class="{{editMode && ' label label-success' || ''}}">
			<input 	type="checkbox"
					ng-model="editMode">
			<span ng-show="editMode">Apply presets</span>
			<span ng-hide="editMode">Edit presets</span>
		</label>
	</div>

</div>