/* app css stylesheet */

h3 {
  margin-top: 0px !important;
}

h2 {
  margin-top: 0px !important;
}

.rollInput {

}

.repeatInput {
  width: 25px;
}

.resultsContainer {
  position: relative;
  margin-left: 50px;
  width: 10em;
  min-width: 100px;
  float: left;
}

.scrollable {
  overflow: auto;
  max-height: 400px;
}

.totals {
  position: relative;
  margin-left: 20px;
  width: 25%;
  min-width: 200px;
  float: left;
}

.presets {
  position: relative;
  width: 310px;
  height: 500px;
  float: right;
  top: 60px;
  margin-right: 50px; 
}

.presetItem {
  width: 150px !important;
  margin-bottom: 10px !important;
}

.presetOdd {
  margin-right: 5px;
}

.presetEven {
  margin-left: 5px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
