/* app css stylesheet */

h2 {
  margin-top: 0px;
}

.rollInput {

}

.repeatInput {
  width: 25px;
}

.resultsContainer {
  position: relative;
  margin-left: 30px;
  width: 10em;
  min-width: 100px;
  float: left;
  top: 20px;
}

.scrollable {
  overflow: auto;
  max-height: 500px;
}

.totals {
  position: relative;
  margin-left: 20px;
  width: 25%;
  min-width: 200px;
  float: left;
  top: 20px;
}

.presets {
  position: relative;
  width: 190px;
  height: 480px;
  float: left;
  top: 60px;
  margin-left: 50px; 
}

.presetBtn {
  margin-bottom: 8px;
  width: 85px;
  height: 25px;
}

.presetInput {
  margin-bottom: 8px;
  width: 85px;
  height: 20px;
  text-align: center;
}

.presetOdd {
  margin-right: 5px;
}

.presetEven {
  margin-left: 5px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
