<div>
	<div class="container">
		<div class="row" style="margin:25px;">
			<div class="col-xs-12 col-sm-12 col-md-7 text-left form-group">
				<form role="form" name="form" class="form-inline" novalidate>
						<div class="col-md-7 form-group">
							<label  for="rollInput">Roll expression</label>
							<input 	id="rollInput" placeholder="Enter roll here..." 
									class="form-control"
									ng-model="queryString" 
									ng-enter="doRoll()" autofocus>
						</div>

						<div class="{{form.repeat.$error.float && 
									  'col-md-3 form-group has-error' || 
									  'col-md-3 form-group'}}">

							<label  class="control-label" for="repeat">Roll repeat</label>
							<input  id="repeat" name="repeat" 
									type="text" smart-float
									title="{{form.repeat.$error.float && 'Numbers only, no fractions' || ''}}" 
									class="form-control"
									ng-model="repeat"
									ng-enter="doRoll()">	
						</div>

						<div class="col-md-2 form-group" style="margin-top:25px;">
							<button type="button" class="btn btn-success form-control"  
									ng-click="doRoll()">Roll!</button>
							
						</div>
						
				 </form>
				
			</div>
		</div>
		<div class="row">
			<results data="rolls"/>
			<totals data="resRolls"/>
			<presets/>
		</div>	
		
	</div>
</div>